
.calc{
  width: 400px;
  height: 650px;
  background: gray;
  margin-left: 300px;
}
#input{
  width: 80%;
  margin-left: 36px;
  height: 40px;
  margin-top: 30px;
  pointer-events: none;
}
.buttons{
  width: 325px;
  height: 510px;
  background: black;
  margin-left: 37px;
  margin-top: 40px;
}

.btn1{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn2{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn3{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn4{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn5{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn6{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn7{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn8{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btn9{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnZero{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnMinus{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnPlus{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnDivision{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnX{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnDot{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnEqual{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}
.btnC{
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
}



